# Recap - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [11]:
country = "Japan"
print(country)

Japan

Create an `animal` variable and assign your favorite animal to it. Print it

In [24]:
animal = "lontra" # otter in english
print(animal)

lontra

Create an `animal_count` variable with any positive integer in it. Print it

In [25]:
animal_count = 10
print(animal_count)

10

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [28]:
if animal_count > 1:
    print(f"I just ordered {animal_count} {animal}s from {country}")
else:
    print(f"I just ordered {animal_count} {animal} from {country}")

I just ordered 10 lontras from Japan

In [29]:
print(f"I just ordered {animal_count} {animal}{'s' if animal_count > 1 else ''} from {country}")

I just ordered 10 lontras from Japan

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [30]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [31]:
pi_type = float
food_type = str
colors_type = list

In [32]:
type(pi) == pi_type \
and type(food) == food_type \
and type(colors) == colors_type

True

Let's try to work with other data types. This time there's no hint.

In [33]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [34]:
user_profile_type = dict
shapes_type = tuple
age_valid_type = bool

In [35]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

True

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [37]:
# YOUR CODE HERE
def credit_card_industry(card_number):
# find the first number and store it in variable
    if int(card_number[0]) == 1:
        return "airline"
    elif int(card_number[0]) == 4:
        return "Visa"
    elif int(card_number[0]) == 5:
        return "Master card"
    return "other"

In [48]:
# def credit_card_industry(card_number):
# # find the first number and store it in variable
#     first_num = int(card_number[0])
# #   if card_number[0].startswith(1):
#     if first_num == 1:
#         return "airline"
#     if first_num == 4:
#         return "Visa"
#     if first_num == 5:
#         return "Master card"
#     return "other"

def credit_card_industry(card_number):
# find the first number and store it in variable
    industries = {
        '1': 'Airline',
        '4': 'Visa',
        '5': 'Mastercard'
    }
    return industries.get(card_number[0], 'Other')

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [49]:
credit_card_industry("4539 0132 4843 4768")

'Visa'

In [50]:
credit_card_industry("5131 9376 6800 4058")

'Mastercard'

In [51]:
credit_card_industry("9131 9376 6800 4058")

'Other'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [67]:
genres = ['horror', 'action', 'comedy']
print(genres)

['horror', 'action', 'comedy']

Add another genre to the list. Print the whole list.

In [68]:
genres.append('sci-fi')
print(genres)

['horror', 'action', 'comedy', 'sci-fi']

Change the name of the second genre on the list. Print the whole list

In [69]:
genres[1] = 'super action'
print(genres)

['horror', 'super action', 'comedy', 'sci-fi']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [70]:
for index, item in enumerate(sorted(genres)):
    print(f'{index+1} - {item.capitalize()}')

1 - Comedy
2 - Horror
3 - Sci-fi
4 - Super action

In [72]:
genres.sort()
for index, item in enumerate(genres):
    print(f'{index+1} - {item.capitalize()}')

1 - Comedy
2 - Horror
3 - Sci-fi
4 - Super action

In [104]:
# sorted_genres = sorted(genres)
# print(sorted_genres, genres)

# sorted(my_list) returns a new sorted list, doesn't change the original my_list
# my_list.sort() returns None, sorts (=changes) the original my_list (we call it a destructive function)
other_sorted_genres = genres.sort()
print(other_sorted_genres, genres)

None ['comedy', 'horror', 'sci-fi', 'super action']

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [75]:
# YOUR CODE HERE
movie = {"title": "The Shawshank Redemption", "year": 1994}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [79]:
movie['director'] = 'Steven'
movie

{'title': 'The Shawshank Redemption', 'year': 1994, 'director': 'Steven'}

Create a `movies` variable and initialize it with an empty list.

In [87]:
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [88]:
movies.append(movie)
movies.append({'title' : 'Interstellar', 'year' : 2015 , 'director' : 'Nolan'})

movies

[{'title': 'The Shawshank Redemption', 'year': 1994, 'director': 'Steven'},
 {'title': 'Interstellar', 'year': 2015, 'director': 'Nolan'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [91]:
for movie in movies:
    print(f"{movie['title']} by {movie['director']} was realesed in {movie['year']}")

The Shawshank Redemption by Steven was realesed in 1994
Interstellar by Nolan was realesed in 2015

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

What does `movie['actors']['support'][2]` return?

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [93]:
movie['title']['fr']

'Le Chevalier Noir'

In [92]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

What does `movie['title']['es']` return?

In [102]:
# movie['title']['es']
movie['title'].get('es')

What does `movie['actors']['support'][2]`return?

In [103]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional (non-correct)

Find a way to extract one list containing all the actors from the movie.

In [ ]:
# YOUR CODE HERE

Try to calculate the total box office of the movie from `movie`

In [ ]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

In [ ]:
# YOUR CODE HERE

### Optional (corrected)

Find a way to extract one list containing all the actors from the movie.

In [106]:
movie['actors']['lead'] + movie['actors']['support']

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

In [116]:
actors = []
for role in movie['actors'].keys():
    for actor in movie['actors'][role]:
        actors.append(actor)
actors

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

In [2]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

Try to calculate the total box office of the movie from `movie`

In [3]:
box_office["US"] + box_office["EU"] + box_office["China"]

395000000

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [4]:
my_sum = 0
for value in box_office.values():
    my_sum += value
my_sum

395000000

In [5]:
sum(list(box_office.values()))

395000000